# editorconfig.org
; quote does not do anything but these are the guidelines

root = true

[**.js]
indent_style    = space
indent_size     = 2
quote           = single

[**.{css,scss}]
indent_style    = space
indent_size     = 2

[*.html]
indent_style    = space
indent_size     = 2
brace_style     = expand
quote           = double

[*.md]
trim_trailing_whitespace = false

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true



