#canvas {
  padding: 0;
  padding-top: 10px;
  margin: auto;
  display: block;
  image-rendering: pixelated;
}


.size-buttons {
  position: fixed;
  bottom: 4%;
  float: right;
  width: 100%;
  z-index: 2;

}

.size-buttons button{
  width: 15%;
  float: right;
}
